--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: kogut; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.kogut (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    age integer,
    sex boolean NOT NULL,
    CONSTRAINT kogut_age_check CHECK (((age >= 0) AND (age <= 30)))
);


ALTER TABLE public.kogut OWNER TO "user";

--
-- Name: kogut_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.kogut_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.kogut_id_seq OWNER TO "user";

--
-- Name: kogut_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.kogut_id_seq OWNED BY public.kogut.id;


--
-- Name: kogut id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.kogut ALTER COLUMN id SET DEFAULT nextval('public.kogut_id_seq'::regclass);


--
-- Data for Name: kogut; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.kogut (id, name, age, sex) FROM stdin;
1	╨í╤é╨╡╨┐╨░╨╜	5	t
\.


--
-- Name: kogut_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.kogut_id_seq', 3, true);


--
-- Name: kogut kogut_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.kogut
    ADD CONSTRAINT kogut_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

